.navbar-expand-lg{
    background-color: #f784c5;
}
.bgimage {
    height:100vh;
    background: url(z.jpg);
    background-size:cover;
    position:relative;
}
.hero_title {
    font-size: 4.5rem;
} 
.hero_desc {
    font-size: 2rem;
    color: #000072;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}
#contact {
    padding-bottom: 4rem;
}
.imageAboutPage {
    width: 30%;
    length: 30%;
}
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #f784c5;
}
.servicesText:hover {
    border: 1px solid #f784c5;
}
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #1b602f;
}
.fab {
    color: #f784c5;
}

#footer {
    background-color: #808080;
    text-align: center;
}